<p><%= @birdsong.bird.common_name %></p>
<p><%= @birdsong.audio_file %></p>
<p><%= @birdsong.country.country %></p>
<p><%= @birdsong.location.latitude %></p>
<p><%= @birdsong.location.longitude %></p>
<p><%= @birdsong.type.type_name %></p>
<p><%= @birdsong.license.license_url %></p>
<p><%= @birdsong.provider.provider_name %></p>

<p><%= link_to 'More from this bird...', bird_path(@birdsong.bird) %></p>
<p><%= link_to 'Back', birdsongs_path %></p>