<p><%= @birdsong.audio_file %></p>
<p><%= @birdsong.bird.common_name %></p>
<p><%= link_to(@birdsong.location.country.country, @birdsong.location) %></p>
<p><%= @birdsong.type.type_name %></p>
<p><%= @birdsong.license.license_url %></p>
<p><%= @birdsong.provider.provider_name %></p>