<%= form_tag url_for(:controller => 'licenses', :action => 'index'), :method => 'get' do %>
	<%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @licenses.each do |license| %>
	<p><%= license.license_url %></p>
<% end %>

<%= paginate @licenses %> 