<%= form_tag url_for(:controller => 'types', :action => 'index'), :method => 'get' do %>
	<%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @types.each do |type| %>
	<p><%= type.type_name %></p>
<% end %>

<%= paginate @types %> 