<%= form_tag url_for(:controller => 'locations', :action => 'index'), :method => 'get' do %>
	<%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @locations.each do |location| %>
<p><%= location.country.country %></p>
<p><%= location.latitude %></p>
<p><%= location.longitude %></p>
<% end %>

<%= paginate @locations %> 