  <!DOCTYPE html>
  <html>
  <head>
    <title>Birdsongs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="row">
        <div class="col-xs-7">
          <%= yield %>
        </div>
        <div class="col-xs-5">
          <nav class="navbar">
            <p><%= link_to 'Home Page', root_path %></p>
            <p><%= link_to 'About Database', about_index_path %></p>
          </nav>
        </div>
      </div>
    </div>
  </body>
  </html>
